target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
/.roo/
/sendToDevs/logs/SlayTheSpire.log
/sendToDevs/logs/SlayTheSpire_202512311828_1.log.zip
/sendToDevs/logs/SlayTheSpire_202512311835_1.log.zip
/sendToDevs/logs/SlayTheSpire_202512311851_1.log.zip
/sendToDevs/logs/SlayTheSpire_202512311855_1.log.zip
/sendToDevs/logs/SlayTheSpire_202512311856_1.log.zip
